---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}


  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- if page_paths -%}
    <nav class="big-nav">
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
          <a class="page-link" href="{{ my_page.url | relative_url }}">
            {%- if my_page.thumbnail -%}
              <img src="{{ my_page.thumbnail | relative_url }}" alt="" />
            {%- endif -%}
            <span class="title">{{ my_page.title | escape }}</span>
          </a>
        {%- endif -%}
      {%- endfor -%}
      {%- for link in site.links -%}
        {%- if link.text -%}
          <a class="page-link" href="{{ link.url }}">
            {%- if link.thumbnail -%}
              <img src="{{ link.thumbnail | relative_url }}" alt="" />
            {%- endif -%}
            <span class="title">{{ link.text | escape }} ➚</span>
          </a>
        {%- endif -%}
      {%- endfor -%}
    </nav>
  {%- endif -%}

  {{ content }}



  {%- if site.posts.size > 0 -%}
    <h3 class="post-list-heading">{{ page.list_title | default: "News" }}</h3>
    <ul class="post-list">
      {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h6>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h6>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe to updates
      <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>
    </p>
  {%- endif -%}

</div>