---
layout: default
---

<div class="post-index">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.scanlations.size > 0 -%}
    <ul class="big-nav">
      {%- for post in site.scanlations -%}
        <a class="page-link" href="{{ post.url | relative_url }}">
          {%- if post.thumbnail -%}
            <img src="{{ post.thumbnail | relative_url }}" alt="" />
          {%- endif -%}
          <span class="title">{{ post.title | escape }}</span>
          <span class="set">{{ post.property | escape }}</span>
        </a>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>